@using Pokedex.Core.Application.ViewModels;

@model SaveTypeViewModel

@{
	bool editMode = Model.id == 0 ? false : true;
	ViewData["Title"] = "Guardar Tipo";
}


<div class="container-fluid">

	<div class="row">
		<div class="col-6 offset-3">
			<div class="card">
				<div class="card-header bg-dark text-white">
					<h4>@(editMode ? $"Editing: {Model.name}" : "Creating new type")</h4>
				</div>
				<div class="card-body">
					<form method="post" asp-controller="Types" asp-action="@(editMode ? "Edit":"Create")">

						<div class="mb-3">
							<input type="text" placeholder="Name" asp-for="name" class="form-control" />
							<span asp-validation-for="name" class="text-danger"></span>
						</div>

						<button type="submit" class="btn btn-primary">Save</button>
						<a asp-controller="Types" asp-action="Types" class="btn btn-success">Back</a>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>
